*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
app/proguard-rules.pro
app/src/androidTest/java/jmleiva/pagedrecyclerview_sample/ApplicationTest.java
app/src/test/java/jmleiva/pagedrecyclerview_sample/ExampleUnitTest.java
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
pagedrecyclerview/proguard-rules.pro
pagedrecyclerview/src/androidTest/java/jmleiva/pagedrecyclerview/ApplicationTest.java
pagedrecyclerview/src/test/java/jmleiva/pagedrecyclerview/ExampleUnitTest.java
